node_modules/
packages/
bin/
Fwk.UI/Fwk.UI/bin/Release/DevExpress.BonusSkins.v12.1.dll
Fwk.UI/Fwk.UI/bin/Release/DevExpress.Data.v12.1.dll
Fwk.UI/Fwk.UI/bin/Release/DevExpress.Data.v12.1.xml
Fwk.UI/Fwk.UI/bin/Release/DevExpress.Office.v12.1.Core.dll
Fwk.UI/Fwk.UI/bin/Release/DevExpress.Office.v12.1.Core.xml
Fwk.UI/Fwk.UI/bin/Release/DevExpress.Printing.v12.1.Core.dll
Fwk.UI/Fwk.UI/bin/Release/DevExpress.Printing.v12.1.Core.xml
Fwk.UI/Fwk.UI/bin/Release/DevExpress.RichEdit.v12.1.Core.dll
Fwk.UI/Fwk.UI/bin/Release/DevExpress.RichEdit.v12.1.Core.xml
Fwk.UI/Fwk.UI/bin/Release/DevExpress.SpellChecker.v12.1.Core.dll
Fwk.UI/Fwk.UI/bin/Release/DevExpress.SpellChecker.v12.1.Core.xml
Fwk.UI/Fwk.UI/bin/Release/DevExpress.Tutorials.v12.1.dll
Fwk.UI/Fwk.UI/bin/Release/DevExpress.Utils.v12.1.dll
Fwk.UI/Fwk.UI/bin/Release/DevExpress.Utils.v12.1.xml
Fwk.UI/Fwk.UI/bin/Release/DevExpress.Xpo.v12.1.dll
Fwk.UI/Fwk.UI/bin/Release/DevExpress.Xpo.v12.1.xml
Fwk.UI/Fwk.UI/bin/Release/DevExpress.XtraBars.v12.1.dll
Fwk.UI/Fwk.UI/bin/Release/DevExpress.XtraBars.v12.1.xml
Fwk.UI/Fwk.UI/bin/Release/DevExpress.XtraEditors.v12.1.dll
Fwk.UI/Fwk.UI/bin/Release/DevExpress.XtraEditors.v12.1.xml
Fwk.UI/Fwk.UI/bin/Release/DevExpress.XtraGrid.v12.1.dll
Fwk.UI/Fwk.UI/bin/Release/DevExpress.XtraGrid.v12.1.xml
Fwk.UI/Fwk.UI/bin/Release/DevExpress.XtraLayout.v12.1.dll
Fwk.UI/Fwk.UI/bin/Release/DevExpress.XtraLayout.v12.1.xml
Fwk.UI/Fwk.UI/bin/Release/DevExpress.XtraNavBar.v12.1.dll
Fwk.UI/Fwk.UI/bin/Release/DevExpress.XtraNavBar.v12.1.xml
Fwk.UI/Fwk.UI/bin/Release/DevExpress.XtraRichEdit.v12.1.Extensions.dll
Fwk.UI/Fwk.UI/bin/Release/DevExpress.XtraRichEdit.v12.1.dll
Fwk.UI/Fwk.UI/bin/Release/DevExpress.XtraRichEdit.v12.1.xml
Fwk.UI/Fwk.UI/bin/Release/DevExpress.XtraSpellChecker.v12.1.dll
Fwk.UI/Fwk.UI/bin/Release/DevExpress.XtraSpellChecker.v12.1.xml
Fwk.UI/Fwk.UI/bin/Release/DevExpress.XtraTreeList.v12.1.dll
Fwk.UI/Fwk.UI/bin/Release/DevExpress.XtraTreeList.v12.1.xml
Fwk.UI/Fwk.UI/bin/Release/DevExpress.XtraVerticalGrid.v12.1.dll
Fwk.UI/Fwk.UI/bin/Release/DevExpress.XtraVerticalGrid.v12.1.xml
Fwk.UI/Fwk.UI/bin/Release/Fwk.Bases.dll
Fwk.UI/Fwk.UI/bin/Release/Fwk.Bases.xml
Fwk.UI/Fwk.UI/bin/Release/Fwk.Security.dll
Fwk.UI/Fwk.UI/bin/Release/Fwk.Security.xml
Fwk.UI/Fwk.UI/bin/Release/Fwk.UI.dll
Fwk.UI/Fwk.UI/bin/Release/Fwk.UI.pdb
Fwk.UI/Fwk.UI/bin/Release/de/DevExpress.Data.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/de/DevExpress.Printing.v12.1.Core.resources.dll
Fwk.UI/Fwk.UI/bin/Release/de/DevExpress.RichEdit.v12.1.Core.resources.dll
Fwk.UI/Fwk.UI/bin/Release/de/DevExpress.Utils.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/de/DevExpress.Xpo.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/de/DevExpress.XtraBars.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/de/DevExpress.XtraEditors.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/de/DevExpress.XtraGrid.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/de/DevExpress.XtraLayout.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/de/DevExpress.XtraNavBar.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/de/DevExpress.XtraRichEdit.v12.1.Extensions.resources.dll
Fwk.UI/Fwk.UI/bin/Release/de/DevExpress.XtraRichEdit.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/de/DevExpress.XtraSpellChecker.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/de/DevExpress.XtraTreeList.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/de/DevExpress.XtraVerticalGrid.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/en/Fwk.UI.resources.dll
Fwk.UI/Fwk.UI/bin/Release/es/DevExpress.Data.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/es/DevExpress.Printing.v12.1.Core.resources.dll
Fwk.UI/Fwk.UI/bin/Release/es/DevExpress.RichEdit.v12.1.Core.resources.dll
Fwk.UI/Fwk.UI/bin/Release/es/DevExpress.Utils.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/es/DevExpress.Xpo.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/es/DevExpress.XtraBars.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/es/DevExpress.XtraEditors.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/es/DevExpress.XtraGrid.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/es/DevExpress.XtraLayout.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/es/DevExpress.XtraNavBar.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/es/DevExpress.XtraRichEdit.v12.1.Extensions.resources.dll
Fwk.UI/Fwk.UI/bin/Release/es/DevExpress.XtraRichEdit.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/es/DevExpress.XtraSpellChecker.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/es/DevExpress.XtraTreeList.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/es/DevExpress.XtraVerticalGrid.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/ja/DevExpress.Data.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/ja/DevExpress.Printing.v12.1.Core.resources.dll
Fwk.UI/Fwk.UI/bin/Release/ja/DevExpress.RichEdit.v12.1.Core.resources.dll
Fwk.UI/Fwk.UI/bin/Release/ja/DevExpress.SpellChecker.v12.1.Core.resources.dll
Fwk.UI/Fwk.UI/bin/Release/ja/DevExpress.Tutorials.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/ja/DevExpress.Utils.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/ja/DevExpress.Xpo.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/ja/DevExpress.XtraBars.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/ja/DevExpress.XtraEditors.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/ja/DevExpress.XtraGrid.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/ja/DevExpress.XtraLayout.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/ja/DevExpress.XtraNavBar.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/ja/DevExpress.XtraRichEdit.v12.1.Extensions.resources.dll
Fwk.UI/Fwk.UI/bin/Release/ja/DevExpress.XtraRichEdit.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/ja/DevExpress.XtraSpellChecker.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/ja/DevExpress.XtraTreeList.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/ja/DevExpress.XtraVerticalGrid.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/ru/DevExpress.Data.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/ru/DevExpress.Printing.v12.1.Core.resources.dll
Fwk.UI/Fwk.UI/bin/Release/ru/DevExpress.RichEdit.v12.1.Core.resources.dll
Fwk.UI/Fwk.UI/bin/Release/ru/DevExpress.Utils.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/ru/DevExpress.Xpo.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/ru/DevExpress.XtraBars.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/ru/DevExpress.XtraEditors.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/ru/DevExpress.XtraGrid.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/ru/DevExpress.XtraLayout.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/ru/DevExpress.XtraNavBar.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/ru/DevExpress.XtraRichEdit.v12.1.Extensions.resources.dll
Fwk.UI/Fwk.UI/bin/Release/ru/DevExpress.XtraRichEdit.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/ru/DevExpress.XtraSpellChecker.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/ru/DevExpress.XtraTreeList.v12.1.resources.dll
Fwk.UI/Fwk.UI/bin/Release/ru/DevExpress.XtraVerticalGrid.v12.1.resources.dll
Fwk.UI/Fwk.UI.Test/bin/debug/ConfigurationManager.xml
Fwk.UI/Fwk.UI.Test/bin/debug/Fwk.Bases.dll
Fwk.UI/Fwk.UI.Test/bin/debug/Fwk.Bases.xml
Fwk.UI/Fwk.UI.Test/bin/debug/Fwk.Security.dll
Fwk.UI/Fwk.UI.Test/bin/debug/Fwk.Security.xml
Fwk.UI/Fwk.UI.Test/bin/debug/Fwk.UI.Test.exe
Fwk.UI/Fwk.UI.Test/bin/debug/Fwk.UI.Test.exe.config
Fwk.UI/Fwk.UI.Test/bin/debug/Fwk.UI.Test.pdb
Fwk.UI/Fwk.UI.Test/bin/debug/Fwk.UI.dll
Fwk.UI/Fwk.UI.Test/bin/debug/Fwk.UI.pdb
Fwk.UI/Fwk.UI.Test/bin/debug/MenuTest.xml
Fwk.UI/Fwk.UI.Test/bin/debug/TextFile1.txt
Fwk.UI/Fwk.UI.Test/bin/debug/en/Fwk.UI.resources.dll
Fwk.UI/Fwk.UI.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Fwk.UI/Fwk.UI.Test/obj/Debug/Fwk.UI.Test.MessageTest.resources
Fwk.UI/Fwk.UI.Test/obj/Debug/Fwk.UI.Test.Properties.Resources.resources
Fwk.UI/Fwk.UI.Test/obj/Debug/Fwk.UI.Test.TestFormBase.FormUseBase.resources
Fwk.UI/Fwk.UI.Test/obj/Debug/Fwk.UI.Test.UsoDeMenu.resources
Fwk.UI/Fwk.UI.Test/obj/Debug/Fwk.UI.Test.csproj.FileListAbsolute.txt
Fwk.UI/Fwk.UI.Test/obj/Debug/Fwk.UI.Test.csproj.GenerateResource.Cache
Fwk.UI/Fwk.UI.Test/obj/Debug/Fwk.UI.Test.csprojResolveAssemblyReference.cache
Fwk.UI/Fwk.UI.Test/obj/Debug/Fwk.UI.Test.exe
Fwk.UI/Fwk.UI.Test/obj/Debug/Fwk.UI.Test.pdb
Fwk.UI/Fwk.UI.Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Fwk.UI/Fwk.UI.Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Fwk.UI/Fwk.UI.Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Fwk.UI/Fwk.UI.Test/obj/Debug/fwk.ui.test.exe.licenses
Fwk.UI/Fwk.UI/obj/Release/DesignTimeResolveAssemblyReferences.cache
Fwk.UI/Fwk.UI/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.Controls.ComboBoxBase.resources
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.Controls.ComboBoxDxBase.resources
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.Controls.ExceptionView.resources
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.Controls.Menu.FRM_AssemblyExplorer.resources
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.Controls.Menu.UC_ToolBarControl.resources
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.Controls.Menu.UC_TreeNavBar.resources
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.Controls.MessageBase.resources
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.Controls.MessageView.resources
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.Controls.SimpleMessageView.resources
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.Controls.TextBox.resources
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.Controls.UC_AceptCancelButtonBar.resources
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.Controls.UC_AssigmentBase.resources
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.Controls.UC_ComboBoxLabel.resources
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.Controls.UC_LabelTitle.resources
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.Controls.UC_TextFind.resources
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.Controls.UC_TextFindContainer.resources
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.Controls.UC_TextFindPopUp.resources
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.Controls.UC_ToolBarListEditor.resources
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.Controls.UC_UserControlBase.resources
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.Controls.frmWait.resources
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.Forms.FormBase.resources
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.Forms.FormBaseNotify.resources
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.Forms.FormDialogBase.resources
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.Forms.FormMDIChildBase.resources
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.Properties.Resources.resources
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.Properties.strings.en.resources
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.Security.Controls.FRM_AuthenticationForm.resources
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.Security.Controls.FRM_AuthenticationForm_ASPNet.resources
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.Security.Controls.FRM_UserChangePassword.resources
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.Security.Controls.FRM_UserResetPassword.resources
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.UC_NavMenu.resources
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.csproj.FileListAbsolute.txt
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.csproj.GenerateResource.Cache
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.csprojResolveAssemblyReference.cache
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.dll
Fwk.UI/Fwk.UI/obj/Release/Fwk.UI.pdb
Fwk.UI/Fwk.UI/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
Fwk.UI/Fwk.UI/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Fwk.UI/Fwk.UI/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Fwk.UI/Fwk.UI/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Fwk.UI/Fwk.UI/obj/Release/en/Fwk.UI.resources.dll
Fwk.UI/Fwk.UI/obj/Release/fwk.ui.dll.licenses
Fwk.UI/Fwk.UI.v11.suo
Fwk.UI/Fwk.UI/Properties/ResGen.exe
Fwk.UI/Fwk.UI/Properties/al.exe
Fwk.UI/Fwk.UI/Fwk.UI.csproj.user
Fwk.UI.XP/Fwk.UI.XP.v11.suo
Fwk.UI.XP/Fwk.UI/Properties/ResGen.exe
Fwk.UI.XP/Fwk.UI/Properties/al.exe
Libraries/Fwk.UI.XP/Fwk.UI.pdb
Libraries/Fwk.UI.pdb
Libraries/DevExpress.BonusSkins.v12.1.dll
Libraries/DevExpress.Data.v12.1.dll
Libraries/DevExpress.Office.v12.1.Core.dll
Libraries/DevExpress.Printing.v12.1.Core.dll
Libraries/DevExpress.RichEdit.v12.1.Core.dll
Libraries/DevExpress.SpellChecker.v12.1.Core.dll
Libraries/DevExpress.Tutorials.v12.1.dll
Libraries/DevExpress.Utils.v12.1.dll
Libraries/DevExpress.Xpo.v12.1.dll
Libraries/DevExpress.XtraBars.v12.1.dll
Libraries/DevExpress.XtraEditors.v12.1.dll
Libraries/DevExpress.XtraGrid.v12.1.dll
Libraries/DevExpress.XtraLayout.v12.1.dll
Libraries/DevExpress.XtraNavBar.v12.1.dll
Libraries/DevExpress.XtraRichEdit.v12.1.Extensions.dll
Libraries/DevExpress.XtraRichEdit.v12.1.dll
Libraries/DevExpress.XtraSpellChecker.v12.1.dll
Libraries/DevExpress.XtraTreeList.v12.1.dll
Libraries/DevExpress.XtraVerticalGrid.v12.1.dll
Libraries/Fwk.UI.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/DevExpress.Data.v12.1.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/DevExpress.Data.v12.1.xml
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/DevExpress.Printing.v12.1.Core.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/DevExpress.Printing.v12.1.Core.xml
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/DevExpress.Utils.v12.1.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/DevExpress.Utils.v12.1.xml
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/DevExpress.XtraBars.v12.1.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/DevExpress.XtraBars.v12.1.xml
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/DevExpress.XtraEditors.v12.1.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/DevExpress.XtraEditors.v12.1.xml
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/DevExpress.XtraNavBar.v12.1.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/DevExpress.XtraNavBar.v12.1.xml
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/DevExpress.XtraTreeList.v12.1.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/DevExpress.XtraTreeList.v12.1.xml
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/Fwk.Bases.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/Fwk.Bases.xml
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/Fwk.Security.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/Fwk.Security.xml
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/Fwk.Tools.Menu.exe
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/Fwk.Tools.Menu.exe.config
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/Fwk.Tools.Menu.pdb
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/Fwk.Tools.Menu.vshost.exe
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/Fwk.Tools.Menu.vshost.exe.config
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/Fwk.Tools.Menu.vshost.exe.manifest
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/Fwk.UI.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/Fwk.UI.pdb
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/de/DevExpress.Data.v12.1.resources.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/de/DevExpress.Printing.v12.1.Core.resources.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/de/DevExpress.Utils.v12.1.resources.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/de/DevExpress.XtraBars.v12.1.resources.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/de/DevExpress.XtraEditors.v12.1.resources.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/de/DevExpress.XtraNavBar.v12.1.resources.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/de/DevExpress.XtraTreeList.v12.1.resources.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/en/Fwk.UI.resources.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/es/DevExpress.Data.v12.1.resources.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/es/DevExpress.Printing.v12.1.Core.resources.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/es/DevExpress.Utils.v12.1.resources.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/es/DevExpress.XtraBars.v12.1.resources.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/es/DevExpress.XtraEditors.v12.1.resources.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/es/DevExpress.XtraNavBar.v12.1.resources.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/es/DevExpress.XtraTreeList.v12.1.resources.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/ja/DevExpress.Data.v12.1.resources.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/ja/DevExpress.Printing.v12.1.Core.resources.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/ja/DevExpress.Utils.v12.1.resources.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/ja/DevExpress.XtraBars.v12.1.resources.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/ja/DevExpress.XtraEditors.v12.1.resources.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/ja/DevExpress.XtraNavBar.v12.1.resources.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/ja/DevExpress.XtraTreeList.v12.1.resources.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/ru/DevExpress.Data.v12.1.resources.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/ru/DevExpress.Printing.v12.1.Core.resources.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/ru/DevExpress.Utils.v12.1.resources.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/ru/DevExpress.XtraBars.v12.1.resources.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/ru/DevExpress.XtraEditors.v12.1.resources.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/ru/DevExpress.XtraNavBar.v12.1.resources.dll
Fwk.UI/Tools/Fwk.Tools.Menu/bin/debug/ru/DevExpress.XtraTreeList.v12.1.resources.dll
Fwk.UI/Tools/Fwk.Tools.Menu/Fwk.Tools.Menu.csproj.user
Fwk.UI/Tools/Fwk.Tools.Menu/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Fwk.UI/Tools/Fwk.Tools.Menu/obj/Debug/Fwk.Tools.Menu.FRM_MenuBarDesigner.resources
Fwk.UI/Tools/Fwk.Tools.Menu/obj/Debug/Fwk.Tools.Menu.FRM_ToolBarDesigner.resources
Fwk.UI/Tools/Fwk.Tools.Menu/obj/Debug/Fwk.Tools.Menu.Main.resources
Fwk.UI/Tools/Fwk.Tools.Menu/obj/Debug/Fwk.Tools.Menu.Properties.Resources.resources
Fwk.UI/Tools/Fwk.Tools.Menu/obj/Debug/Fwk.Tools.Menu.UC_ButtonBaseEditor.resources
Fwk.UI/Tools/Fwk.Tools.Menu/obj/Debug/Fwk.Tools.Menu.UC_ButtonGroupEditor.resources
Fwk.UI/Tools/Fwk.Tools.Menu/obj/Debug/Fwk.Tools.Menu.UC_MenuEditor.resources
Fwk.UI/Tools/Fwk.Tools.Menu/obj/Debug/Fwk.Tools.Menu.UC_MenuItemEditor.resources
Fwk.UI/Tools/Fwk.Tools.Menu/obj/Debug/Fwk.Tools.Menu.UC_PopupButtonEditor.resources
Fwk.UI/Tools/Fwk.Tools.Menu/obj/Debug/Fwk.Tools.Menu.csproj.FileListAbsolute.txt
Fwk.UI/Tools/Fwk.Tools.Menu/obj/Debug/Fwk.Tools.Menu.csproj.GenerateResource.Cache
Fwk.UI/Tools/Fwk.Tools.Menu/obj/Debug/Fwk.Tools.Menu.csprojResolveAssemblyReference.cache
Fwk.UI/Tools/Fwk.Tools.Menu/obj/Debug/Fwk.Tools.Menu.exe
Fwk.UI/Tools/Fwk.Tools.Menu/obj/Debug/Fwk.Tools.Menu.pdb
Fwk.UI/Tools/Fwk.Tools.Menu/obj/Debug/Fwk.UI.Security.Controls.FRM_RuleSelector.resources
Fwk.UI/Tools/Fwk.Tools.Menu/obj/Debug/Fwk.UI.Security.Controls.Rules.UC_RulesMain.resources
Fwk.UI/Tools/Fwk.Tools.Menu/obj/Debug/Fwk.UI.Security.Controls.UC_RuleSelector.resources
Fwk.UI/Tools/Fwk.Tools.Menu/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Fwk.UI/Tools/Fwk.Tools.Menu/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Fwk.UI/Tools/Fwk.Tools.Menu/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Fwk.UI/Tools/Fwk.Tools.Menu/obj/Debug/fwk.tools.menu.exe.licenses
Fwk.UI/Tools/TreeViewDesigner/TreeViewDesigner.v11.suo
Libraries/Fwk.UI.XP/Fwk.UI.dll
